body{
    background-image: url(Pictures/SpaceX4Fans\ Galaxy.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.button1{
    background-color: transparent;
    position: fixed;
    color: white;
    top: 10px;
    left: 100px;
    transition: top 0ms;
}
.button2{
    background-color: transparent;
    position: fixed;
    color: white;
    top: 10px;
    right: 220px;
    transition: top 0ms;
}
.button3{
    background-color: transparent;
    position: fixed;
    color: white;
    top: 10px;
    right: 50px;
    transition: top 0ms;
}

.btn-group-vertical{
    float: right;
    right: 135px;
    top: 200px;
    
}

.Img1{
    transition: 0ms;
    top: 400px;
    right: 50px;

}


p{
    color: white
}