body{
    background-image: url(Pictures/SpaceX4Fans\ Galaxy.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

p{
    color: white;
    padding-top: 120px;
}
.container{
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 8fr 8fr;
    column-gap: 50px;
}
img{
    height: 400px;
    width: 250px;
}
