body{
    background-image: url(Pictures/SpaceX4Fans\ Galaxy.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.button1{
    background-color: transparent;
    position: fixed;
    color: white;
    top: 10px;
    left: 100px;
    transition: top 0ms;
}
.button2{
    background-color: transparent;
    position: fixed;
    color: white;
    top: 10px;
    right: 220px;
    transition: top 0ms;
}
.button3{
    background-color: transparent;
    position: fixed;
    color: white;
    top: 10px;
    right: 50px;
    transition: top 0ms;
}

p{
    color: white;
    width: 1000px;
    vertical-align: auto;
}

.raket1{
   float: left;
   width: 200px;
   height: 450px;
   margin-left: 60px;
   margin-top: 200px;
}
class="btn-group-vertical" display="block" role="group" aria-label="Vertical button group"